.shops.text-left
  .shop-element-head

    = link_to shop_path(shop) do
      %i.fas.fa-home
      = shop.shop_name
  .shop-element.pt-1
    .row.justify-content-end
      .col-xs-3.ml-4
        = link_to show_self_image(shop,100), shop_path(shop)
      .col
        = shop.tel
        %br= shop.shop_info
