.shops-child.text-left
  .shop-element-head
    = link_to shop_path(shop) do
      %i.fas.fa-home
      = shop.shop_name
  .shop-element.pt-1
    .row.justify-content-end
      .col-xs-3.ml-4
        = link_to show_self_image(shop,100), shop_path(shop)
      - if @query_machines
        %table.col.machine-list
          %tbody
            - shop.shop_machine.each do |sm|
              - if @machine_ids.include?(sm.machine_id.to_s)
                %tr
                  %td.w-15rem.text-center.py-1
                    = sm.machine.title
                  %td.w-4rem
                    = sm.price
                  %td.w-4rem
                    = "#{sm.own} 台"
      -else
        .col
          = shop.tel
          %br= shop.shop_info
    .row.ml-2.mr-1.my-1
      = render 'tags', shop: shop
