%span.far.fa-credit-card{class: "#{shop.tag.emoney ? 'tag' : 'tag-not'}"}
  = " 電子マネー"

%span.fa.fa-parking{class: "#{shop.tag.parking ? 'tag' : 'tag-not'}"}
  = " 駐車場"

%span.tag{class: "#{shop.tag.open24h ? 'tag' : 'tag-not'}"}
  = " 24時間営業"

%span.fa.fa-ban{class: "#{shop.tag.older18 ? 'tag' : 'tag-not'}"}
  = " R18"

%span{class: "#{shop.tag.hand_towel ? 'tag' : 'tag-not'}"}
  = " おしぼり"

%span.fa.fa-lock{class: "#{shop.tag.locker ? 'tag' : 'tag-not'}"}
  = " 無料ロッカー"

%spanfa.fa-wifi{class: "#{shop.tag.wifi ? 'tag' : 'tag-not'}"}
  = " 無料Wifi"

- case shop.tag.smoking
  - when 0 then
    %span.tag 禁煙
  - when 1 then
    %span.tag 分煙
  - else
    %span.tag 喫煙可
