- provide :title, "検索結果"
%p.mb-2.text-left.pl-5
  = "エリア条件："
  - if @query_adress
    = "#{@query_adress}"
  - else
    = "なし"

%p.mb-2.text-left.pl-5
  = "ゲーム条件："
  - if @query_machines
    - @query_machines.each do |machine|
      = " [#{machine.title}] "
  -else
    = "なし"

.shops
  - @shops.each do |shop|
    = render 'shop', shop: shop
.text-center
  = link_to root_path, class: "atl-btn" do
    %i.fas.fa-search.fa-2x
    条件を変えて検索する
