- content_for :scripts do
  = javascript_include_tag 'application'
- provide :title, @shop.shop_name
.row.py-4
  .col
    = show_self_image(@shop,300)
    .row.mt-3
      .col
        = render 'tags', shop: @shop
  .col.text-left
    = render 'shop_status'
.row.justify-content-center
  .shop-info
    %p.py-2
      = simple_format @shop.shop_info
.container.py-4.ml-2
  .row
    .col-xs-3.shop-element-head
      %i.fa.fa-flag
      = link_to "イベント", "#Events", role: "button", data:{toggle: "collapse"}, aria: {expanded: "true", controls: "Events"}
  #Events.collapse.show.shop-element
    = render 'events'

.container.py-4.ml-2
  .row
    .col-xs-3.shop-element-head
      %i.fa.fa-desktop
      = link_to "設置ゲーム", "#Machines", role: "button", data:{toggle: "collapse"}, aria: {expanded: "true", controls: "Machines"}
  #Machines.collapse.show.shop-element
    = render 'machines'

.container.py-4.ml-2
  .row
    .col-xs-3.shop-element-head
      %i.fa.fa-map-marker-alt
      = link_to "アクセス", "#Access", role: "button", data:{toggle: "collapse"}, aria: {expanded: "true", controls: "Access"}
  #Access.collapse.show.shop-element
    %p= "#{@shop.access}"
    - if @shop.latitude
      .googlemap.mx-auto.mb-5
        #map
    - else
      .text-center.mb-5
        実在する住所を入力すると、ここにGoogleMapが表示されます。

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      zoom: 12,
      center:    new google.maps.LatLng(#{@shop.latitude}, #{@shop.longitude}),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    },
    internal: {id: 'map'}}, function(){
    handler.fitMapToBounds();
  });
