%section.bg-base
  .container.text-center.py-4
    .display-4
      = @shop.shop_name
    .row.py-4
      .col
        = link_to "/edit", edit_shop_path, class: "btn1 bg-accent w-25"
    .row.py-4
      .col
        = show_self_image(@shop,300)
        .row.mt-3
          .col
            %span.tag 電子マネー
            %span.tag PASELI
            %span.tag 24時間営業
            %span.tag R18
            %span.tag 禁煙
      .col.text-left
        %span.content-title.mt-0 営業時間
        %br= "#{@shop.business_hours}"
        %span.content-title TEL
        %br= "#{@shop.tel}"
        %span.content-title 住所
        %br= "#{@shop.adress}"
        %span.content-title 最寄駅
        %br= "#{@shop.nearest_station}"
        = link_to "アクセス", "#Access_forjump", class: "btn1 bg-main my-3 ml-1"
        %br
        %span.content-title 更新日
        %br= "#{@shop.updated_at.strftime("%Y年%m月%d日 %H:%M:%S")}"
    %hr.py-4

    %a(class="btn btn-outline-info w-75 mb-5" data-toggle="collapse" href="#Events" role="button" aria-expanded="true" aria-controls="Events")
      イベント
    #Events.collapse.show
      %p 開催中のイベントはありません。
      %p.mb-5 ここにTwitter

    %a(class="btn btn-outline-info w-75 mb-5" data-toggle="collapse" href="#Machines" role="button" aria-expanded="true" aria-controls="Machines")
      設置ゲーム一覧
    #Machines.row.collapse.text-center.show
      %div{class: "accordion w-50 mx-auto mb-4", id: "machine_1_accordion"}
        .card
          %div{class: "card-header text-center", role: "tab", id: "head_1"}
            %h6.mb-0
              %a(data-toggle="collapse" class="stretched-link " href="#collapse_1" aria-expanded="true" aria-controls="collapse_1") ゲームタイトル1
          %div(id="collapse_1" class="collapse show" aria-labelledby="head_1" data-parent="machine_1_accordion")
            .card-body ゲーム1のコンテンツ

    %a(class="btn btn-outline-info w-75 mb-5" id="Access_forjump" data-toggle="collapse" href="#Access" role="button" aria-expanded="true" aria-controls="Access")
      アクセス
    #Access.collapse.show
      %p
        = "#{@shop.access}"
      %p.mb-5 ここにGoogleMap

  .text-center.pb-5
    =link_to "検索結果に戻る", shops_path, class: "btn1 bg-main w-50"
