<section class="bg-base pb-5">
  <div class="container text-center">
    <h2 class="display-4 py-4">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group row mb-5">
        <%= f.label :email, "メールアドレス", class: "col-sm-5 text-right" %><br />
        <%= f.email_field :email, class: "col-sm-5", autofocus: true, autocomplete: "email", value:"admin@example.com"%>
      </div>

      <div class="field form-group row my-3">
        <%= f.label :password, "パスワード", class: "col-sm-5 text-right" %><br />
        <%= f.password_field :password, class: "col-sm-5", autocomplete: "current-password", value: "password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインしたままにする" %>
        </div>
      <% end %>

      <div class="actions my-5">
        <%= f.submit "ログインする", class: "btn1 bg-accent w-50" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>
