%section.atl-base
  .container
    #Signboard
      .title_underline
        %span.title> AtlAcade
      .hello.mt-3
        - if current_user
          ようこそ
          = "#{@user.nickname}さん、こんにちは"
        - else
          ようこそ、こんにちは
        %p
          %span.font-atl>AtlAcade
          は全国のアミューズメント施設を検索します。
        %p 詳しくはこちらへ
        = link_to about_path, class: "atl-btn" do
          %i.far.fa-question-circle.fa-2x
          %span.font-atl>AtlAcade
          とは？
  .container.text-center.my-5
    %p 今日は何をお探しですか？
    %p 素晴らしい店舗やゲームとの出会いを願っています。
    = link_to shops_path, class: "atl-btn mr-3" do
      %i.fas.fa-home.fa-2x
      ショップ一覧
    = link_to machines_path, class: "atl-btn ml-3" do
      %i.fa.fa-desktop.fa-2x
      ゲーム一覧
#Search.container.main-border.text-center.pb-5
  .main-title.mx-auto.py-3
    検索
  = form_with scope: :search ,url: shops_path, method: :get, local: true do |f|
    .area-select
      %span エリア指定：
      = f.select :adress, perfectures, prompt: "都道府県を選択"
    %br
    .text-left
      .machine-items-head
        ゲーム指定
    .machine-items.mb-3
      .py-2
        タイトルをクリックで選択出来ます。
      - @machines.each do |machine|
        = f.check_box  :machine_ids, {multiple: true, include_hidden: false, id: "machine_#{machine.id}", mtitle: "#{machine.title}"}, machine[:id]
        = f.label     :machine_ids, machine.title, for: "machine_#{machine.id}"
      #machine_query
        選択したゲームがありません
    = button_tag type: "submit", class: "atl-submit" do
      %i.fas.fa-search.fa-2x
      検索
    %br 何も指定しないと全てのお店を表示します。
.text-center.py-5
  - unless user_signed_in?
    %p ログイン・新規登録はこちら
    = link_to new_user_session_path, class: "atl-btn ml-4" do
      %i.fas.fa-sign-in-alt.fa-2x
      ログイン
    = link_to new_user_registration_path, class: "atl-btn ml-4" do
      %i.fas.fa-user-plus.fa-2x
      アカウントの登録
