.event-date.mx-auto
  = "#{e.event_date.strftime("%Y年  %m月 %d日")}"
.event-content{id: "event_content_#{e.id}"}
  = simple_format e.content
  - if has_edit_authority?(@user, @shop)
    %br
    .text-right.pb-3
      = link_to edit_event_path(e), class: "atl-btn", remote: true do
        %i.fas.fa-edit.fa-2x
        編集
      = link_to event_path(e), method: :delete, class: "atl-btn", data: {confirm: "本当によろしいですか？"}, remote: true do
        %i.fa.fa-trash.fa-2x
        削除
