%section.bg-light.pb-5
  .container.text-center
    %h2.display-4.py-4 パスワードのリセット
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field.row.mb-5
        = f.label :email, "メールアドレス", class: "col-sm-5 text-right"
        %br/
        = f.email_field :email, class: "col-sm-3", autofocus: true, autocomplete: "email"
      .actions.my-5
        = f.submit "リセットメールを送信する", class: "btn btn-primary w-50"
    = render "users/shared/links"
