= form_for @machine do |f|
  = render 'shared/error_messages', object: f.object
  .row.justify-content-center.mb-4
    .col-lg-6
      #img_field.mx-auto{onClick: "$('#file').click()"}
        = show_self_image(@machine)
    .col-lg-6.my-auto
      %label.image-label.atl-btn.mt-3
        %i.fa.fa-image.fa-2x
        画像を選択
        = f.file_field :image, class: "none", id: "file"
  .row.mb-4
    .col-lg-10.mx-auto
      .text-left.mb-4
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :title, "ゲームタイトル"
        .form-required.my-auto
          ※ 必須
        %br
        = f.text_field    :title, class: "mt-1 ml-3 atl-textfield", autofocus: true
      .text-left.mb-4
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :maker, "メーカー"
        %br
        = f.text_field    :maker, class: "mt-1 ml-3 atl-textfield"
      .text-left.mb-4
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :genre, "ジャンル"
        %br
        = f.text_field    :genre, class: "mt-1 ml-3 atl-textfield"
      .text-left.mb-4
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :official_url, "公式URL"
        %br
        = f.text_field    :official_url, class: "mt-1 ml-3 atl-textfield"
  = button_tag type: "submit", class: "atl-submit my-3" do
    %i.far.fa-check-square.fa-2x
    保存する
