- provide :title, "ゲーム一覧"
%p.mb-2.text-left.pl-5
  = @machines.total_count
  件のゲームが登録されています。
  %br
  = "#{@machines.offset_value + 1} 〜 #{@machines.offset_value + @machines.length}件目を表示しています。"
- if current_user.role == 2
  .text-center.my-2
    = link_to new_machine_path, class: "atl-btn" do
      %i.fa.fa-plus.fa-2x
      ゲーム登録

.shops
  - @machines.each do |machine|
    = render 'machine', machine: machine
.mt-2
  = paginate @machines
