- provide :title, @machine.title
.row.py-4
  .col
    = show_self_image(@machine,300)
  .col.text-left
    %span.content-title メーカー
    .content-border
    .content-child= "#{@machine.maker}"
    %span.content-title ジャンル
    .content-border
    .content-child= "#{@machine.genre}"
    %span.content-title 更新日
    .content-border
    .content-child= "#{@machine.updated_at.strftime("%Y年%m月%d日 %H:%M:%S")}"
    = link_to @machine.official_url, class: "atl-btn", target: :_blank do
      %i.far.fa-hand-point-right.fa-2x
      公式サイト
    - if current_user.role == 2
      = link_to edit_machine_path, class: "atl-btn" do
        %i.fas.fa-edit.fa-2x
        編集
      = link_to @machine, class: "atl-btn", method: :delete, data: {confirm: "本当によろしいですか？"} do
        %i.fa.fa-trash.fa-2x
        削除
.row.justify-content-center
  .shop-info
    %p.py-2
      = simple_format @machine.machine_info
