%footer
  .container
    .row
      .col
      .col
        %ul
          %h6
            %span.font-atl>AtlAcade
          %li= link_to "GitHub","https://github.com/Rikiya3702/atlacade", target: :_blank
          %li= link_to "Home", root_path
          %li= link_to "About", about_path
          %li= link_to "アカウント登録", new_user_registration_path
          %li= link_to "ログイン", new_user_session_path
      .col
        %ul
          %br
          %li= link_to "店舗一覧", shops_path
          %li= link_to "店舗データ登録", new_shop_path
          %li= link_to "ゲーム一覧", machines_path
          %li= link_to "ゲーム登録", new_machine_path
      .col
    .row
      .col
        %h6 外部リンク
        %br
    .row
      .col
        %ul
          %h6 アミューズメント業界を作っている代表的な企業様
          %li= link_to "コナミアミューズメント", "https://www.konami.com/amusement/", target: :_blank
          %li= link_to "セガ・インタラクティブ", "https://sega-interactive.co.jp/", target: :_blank
          %li= link_to "バンダイナムコエンターテインメント", "https://www.bandainamcoent.co.jp/", target: :_blank
          %li= link_to "タイトー", "https://www.taito.co.jp/", target: :_blank
          %li= link_to "ラウンドワン", "https://www.round1.co.jp/", target: :_blank
          %li= link_to "アドアーズ", "https://www.adores.jp/", target: :_blank
          %li= link_to "サードプラネット", "https://3rd-planet.jp/", target: :_blank
          %li= link_to "山崎屋", "https://www.yamazakiya.co.jp/", target: :_blank
          %li= link_to "あなたのウェアハウス", "https://www.warehousenet.jp/", target: :_blank

      .col
        %ul
          %h6 学習教材など
          %br
          %li= link_to "侍エンジニア塾", "https://www.sejuku.net/", target: :_blank
          %li= link_to "Ruby on Rails チュートリアル", "https://railstutorial.jp/", target: :_blank
          %li= link_to "Progate", "https://prog-8.com/", target: :_blank
          %li= link_to "ドットインストール", "https://dotinstall.com/", target: :_blank
          %li= link_to "paizaラーニング", "https://paiza.jp/works/", target: :_blank
          %li= link_to "Udemy", "https://www.udemy.com/", target: :_blank
          %li= link_to "サルでもわかるGit入門", "https://backlog.com/ja/git-tutorial/", target: :_blank
          %li= link_to "e-typing", "https://www.e-typing.ne.jp/", target: :_blank
          %li= link_to "クリスの部屋 (YouTube)", "https://www.youtube.com/channel/UCfqRMJrg010qS35Kj_dhuKA", target: :_blank
          %li= link_to "鴨頭嘉人 (YouTube)", "https://www.youtube.com/channel/UCq3Ct-r3-XbGxDiG7BGu2dQ", target: :_blank
          %li= link_to "Qiita", "https://qiita.com/", target: :_blank
      .col
        %ul
          %h6 本アプリケーションに使用したサービスなど。
          %h6  主にデザイン面で使用させて頂きました。
          %li= link_to "Lucidchart", "https://www.lucidchart.com/pages/ja", target: :_blank
          %li= link_to "Hatchful", "https://hatchful.shopify.com/ja/", target: :_blank
          %li= link_to "Google Fonts", "https://fonts.google.com/", target: :_blank
          %li= link_to "Font Awesome", "https://fontawesome.com/", target: :_blank
          %li= link_to "Bootstrap", "https://getbootstrap.jp/", target: :_blank
          %li= link_to "FLAT ICON DESIGN", "http://flat-icon-design.com/", target: :_blank
          %li= link_to "Faker", "https://github.com/faker-ruby/faker", target: :_blank
          %li= link_to "Gimei", "https://github.com/willnet/gimei", target: :_blank
          %li= link_to "Kaminari", "https://github.com/kaminari/kaminari", target: :_blank
  %p.text-center.mb-0 ©︎2019 Rikiya Horikoshi
