%header
  %nav.navbar.navbar-dark.bg-main.navbar-expand-md
    .logo2.bg-accent.mr-5
      = link_to "AtlAcade", root_path
    %button.navbar-toggler.bg-accent{"aria-controls" => "navmenu1", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navmenu1", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navmenu1.collapse.navbar-collapse.navbar-right
      .navbar-nav
        - if user_signed_in?
          = link_to edit_user_registration_path(@user) do
            .nav-item.nav-link
              = show_self_image(@user, 30)
              = @user.nickname
          - if has_shop?(current_user)
            = link_to shop_path(@user.shop.id) do
              .nav-item.nav-link
                = show_self_image(@user.shop, 30)
                = @user.shop.shop_name
        = link_to "TOP", root_path, class: "nav-item nav-link"
        = link_to "AtlAcadeとは？", about_path, class: "nav-item nav-link"
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, class: "nav-item nav-link", method: :delete
          - if !has_shop?(current_user) && @user.role != 0
            = link_to "店舗登録", new_shop_path, class: "nav-item nav-link"
        - else
          = link_to "ログイン", new_user_session_path, class: "nav-item nav-link"
