%header
  %nav.navbar.navbar-dark.header-base.navbar-expand-md
    .logo2.mr-5
      = link_to "AtlAcade", root_path
    %button.navbar-toggler.atl-navtoggle{"aria-controls" => "navmenu1", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navmenu1", "data-toggle" => "collapse", :type => "button"}
      %i.fas.fa-bars
    #navmenu1.collapse.navbar-collapse.navbar-right
      .navbar-nav
        - if user_signed_in?
          = link_to edit_user_registration_path(@user) do
            .nav-item.nav-link
              = show_self_image(@user, 30)
              = @user.nickname
          - if has_shop?(current_user)
            = link_to shop_path(@user.shop.id) do
              .nav-item.nav-link
                = show_self_image(@user.shop, 30)
                = @user.shop.shop_name
        = link_to root_path(anchor: "Search"), class: "nav-item nav-link" do
          %i.fas.fa-search
          検索
        = link_to about_path, class: "nav-item nav-link" do
          %i.fas.fa-info-circle
          ABOUT
        - if user_signed_in?
          - if !has_shop?(current_user) && @user.role != 0
            = link_to new_shop_path, class: "nav-item nav-link" do
              %i.far.fa-plus-square
              店舗データ登録
          = link_to destroy_user_session_path, class: "nav-item nav-link", method: :delete do
            %i.fas.fa-sign-out-alt
            ログアウト
        - else
          = link_to new_user_session_path, class: "nav-item nav-link" do
            %i.fas.fa-sign-in-alt
            ログイン
          = link_to new_user_registration_path, class: "nav-item nav-link" do
            %i.fas.fa-user-plus
            アカウントの登録
