.text-left.mb-3
  .form-column
    %i.fas.fa-pencil-alt
    = f.label       :password, "新しいパスワード"
  .form-required.my-auto
    ※ 6文字以上 必須
  %br
  = f.password_field    :password, class: "mt-1 ml-3 atl-textfield"
.text-left.mb-3
  .form-column
    %i.fas.fa-pencil-alt
    = f.label       :password_confirmation, "新しいパスワード（確認）"
  .form-required.my-auto
    ※ 必須
  %br
  = f.password_field    :password_confirmation, class: "mt-1 ml-3 atl-textfield"
.text-left.mb-3
  .form-column
    %i.fas.fa-pencil-alt
    = f.label       :current_password, "現在のパスワード"
  .form-required.my-auto
    ※ 必須
  %br
  = f.password_field    :current_password, class: "mt-1 ml-3 atl-textfield"
- unless current_user.role == 2
  .form-tags
    = f.check_box      :role
    = f.label          :role, "店舗オーナー", class: "pr-3"
    %br
.text-center.my-3
  = button_tag type: "submit", class: "atl-submit" do
    %i.fa.fa-calendar-plus.fa-2x
    登録する
