#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title パスワードの変更
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.container
        .field.my-3.form-group.text-left
          = f.label :password, "新しいパスワード", class: ""
          - if @minimum_password_length
            %em
              (#{@minimum_password_length}文字以上)
          = f.password_field :password, class: "form-control w-50", autocomplete: "new-password"
        .field.mt-5.form-group.text-left
          = f.label :password_confirmation, "新しいパスワード（確認）", class: ""
          %br/
          = f.password_field :password_confirmation, class: "form-control w-50", autocomplete: "new-password"
        .field.mt-5.form-group.text-left
          = f.label :current_password, "現在のパスワード", class: ""
          %br/
          = f.password_field :current_password, class: "form-control w-50", autocomplete: "current-password"
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} キャンセル
        = f.submit "変更する", class: "btn1 bg-accent w-25"
