- provide :title, "アカウント情報"
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .row.justify-content-center.mb-4
    .col-lg-6
      #img_field.mx-auto{onClick: "$('#file').click()"}
        = show_self_image(current_user)
    .col-lg-6.my-auto
      %label.image-label.atl-btn.mt-3
        %i.fa.fa-image.fa-2x
        画像を選択
        = f.file_field :image, class: "none", id: "file"
  .row.justify-content-center
    .col-lg-10
      .text-left.mb-4
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :nickname, "ユーザー名 (ニックネーム)"
        %br
        = f.text_field    :nickname, class: "mt-1 ml-3 atl-textfield", autocomplete: "name"
      .text-left.mb-4
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :email, "メールアドレス"
        %br
        = f.text_field    :email, class: "mt-1 ml-3 atl-textfield", autocomplete: "email"
      .text-left.mb-5
        .form-column
          %i.fas.fa-pencil-alt
          = f.label       :profile, "紹介文", class: ""
        %br
        = f.text_area   :profile, class: "mt-1 ml-3 atl-textarea"
      .text-center.my-3
        = button_tag type: "submit", class: "atl-submit" do
          %i.far.fa-check-square.fa-2x
          保存する

  .container.ml-1
    .row
      = link_to "#Change_password", role: "button", class:"atl-btn", data:{toggle: "collapse"}, aria: {expanded: "true", controls: "Change_password"} do
        %i.fas.fa-exclamation-circle.fa-2x
        パスワードの変更
    #Change_password.collapse.text-center.ml-5
      .shop-element
        = render 'change_password', f: f
