<section class="bg-base pb-5">
  <div class="container text-center">
    <h2 class="display-4 py-4">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field row mb-5">
        <%= f.label :nickname, "ユーザー名", class: "col-sm-5 text-right" %><br />
        <%= f.text_field :nickname, class: "col-sm-3", autofocus: true, autocomplete: "name" %>
      </div>
      <div class="field row mb-5">
        <%= f.label :email, "メールアドレス", class: "col-sm-5 text-right" %><br />
        <%= f.email_field :email, class: "col-sm-3", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field row my-3">
        <%= f.label :password, "パスワード", class: "col-sm-4 text-right" %>
        <% if @minimum_password_length %>
        <br><em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        <%= f.password_field :password, class: "col-sm-3", autocomplete: "new-password" %>
      </div>

      <div class="field row mt-3">
        <%= f.label :password_confirmation, "パスワード（確認）", class: "col-sm-5 text-right"  %><br />
        <%= f.password_field :password_confirmation, class: "col-sm-3", autocomplete: "new-password" %>
      </div>

      <div class="actions my-5">
        <%= f.submit "登録する", class: "btn1 bg-accent w-50" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>
